name: rekrutteringstreff-api

on:
  push:
    paths:
      - apps/rekrutteringstreff-api/**
      - .github/workflows/deploy-rekrutteringstreff-api.yaml
      - .github/workflows/deploy-template.yaml
      - buildSrc/**

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/hindre-duplikat-jobbsøker-på-treff
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
