name: rekrutteringsbistand-aktivitetskort

on:
  push:
    paths:
      - apps/rekrutteringsbistand-aktivitetskort/**
      - .github/workflows/deploy-rekrutteringsbistand-aktivitetskort.yaml
      - .github/workflows/deploy-template.yaml
      - buildSrc/**
  workflow_dispatch:

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/oppdater_dependencies
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
