name: rekrutteringstreff-minside-api

on:
  push:
    paths:
      - apps/rekrutteringstreff-minside-api/**
      - .github/workflows/deploy-rekrutteringstreff-minside-api.yaml
      - .github/workflows/deploy-template.yaml
      - buildSrc/**
  workflow_dispatch:

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/config_for_prod
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
